<p>Upcoming workshops</p>

<ul> <% @workshops.each do |x| %>
    <li><a href="/workshops/<%=x.id%>"><%= x.name %></a>
    <%end%></li>
  </ul>

  <p> Exercises </p>

<ul> <% @exercises.each do |x| %>
    <li><a href="/exercises/<%=x.id%>"><%= x.name %></a>
    <%end%></li>
  </ul>

  <p>Skills</p>

<ul> <% @skills.each do |x| %>
    <li><a href="/skills/<%=x.id%>"><%= x.name %></a>
    <%end%></li>
  </ul>
