<h3><%= @exercise.name %></h3>
<ul>
    <li><%= @exercise.description %></li>
    <li> <%= @exercise.source %> </li>
    <li> <%= @exercise.notes %> </li>
</ul>

<p> Skill sets </p>

<ul> <% @skills.each do |skill| %>
    <li><a href="/skills/<%=skill.id%>"><%= skill.name %></a>
    <%end%></li>
  </ul>
